.about{
	font-size: $ff;

	position: fixed;

	width: 100%;
	height: 100%;

	z-index: -5;

	transition: all .3s ease-in-out;

	opacity: 0;

	left:0;
	top:0;

	background-color: rgba(#111, .98);

	&.active{
		opacity: 1;
		z-index: 103;
	}

	&__row{

	}

	&__content{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	&__close{
		height: 30px;
		width: auto;

		margin: 1.5em 0em;

		cursor: pointer;
	}

	&__title{
		margin:.5em 0em;
		color:#fff;
		text-transform: uppercase;
		font-size: 2.5em;
		font-family: $font-ebold;

		span{
			color: $blue;
		} 

	}

	&__title-wrap{
		text-align: center;
	}

	&__text{
		color:#fff;
		font-family: $font-light;
		background-size: 1.1em;

		a{
			color:#16b6ea;
			text-decoration: none;

			&:hover,&:focus{
				color:#16b6ea;
				text-decoration: none;
			};
		}
	}

	&__text-wrap{
		padding:2em 0em; 
	}

	&__contacts{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:flex-start;

		&-icon{
			height: 25px;
			width: auto;

			margin: .5em 1.5em .5em 0em;
		}

		&-text{
			margin: .5em 0em;
			color:#fff;
			font-size: 1.5em;
			font-family: $font-bold;
		}
	}
}

@include adaptive-xl{
	.about{
		font-size: 14px;
	
	}
}

@include adaptive-m{
	.about{
		font-size: 12px;
	
	}
}

@include adaptive-768{
	.about{
		&__title{
			font-size: 1.8em;
		}

		&__text-wrap{
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
		}

		&__text{
			margin-bottom: 0.2em;
			text-align: center;

			a{
				text-decoration: none;
				color:#16b6ea;

				&:hover,&:focus{
					text-decoration: none;
					color:#16b6ea;
				};
			}
		}
	
	}
}