.advantages-block{
	font-size: $ff;
	position: relative;
	z-index: 100;

	background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);

	&__row{
		padding:2em 4em; 
	}

	&__title{
		color:#fff;
		font-size: 2em;
		font-family: $font-bold;
		text-align: center;
	}

	&__item-wrap{

		padding:1em 4em !important; 
	}

	&__item{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		background-color: #fff;
		border-radius: 15px;

		box-shadow: 0px 0px 20px #666;  

		padding: 4em 0em; 

	}

	&__image{
		height: 135px;
		width: auto;
		margin: 2em 0em 1em 0em;

	}

	&__text{
		text-align: center;
		width: 80%;
		margin: 2em 0em;

		font-size: 1.2em;
		font-family: $font-light;

		min-height: 80px;
	}

	&__button{
		background-color: $blue;
		color:#fff;
		text-decoration: none;
		padding:1em 1.5em;
		font-family: $font-light;
		font-size: 1.1em;
		border-radius: 5px; 

		&:hover,&:focus{
			color:#fff;
			text-decoration: none;
		};
	}
}

@include adaptive-xl{
	.advantages-block{
		font-size: 14px;

		&__item{
			min-height: 350px;
			padding:1.5em 0em; 
		}

		&__image{
			height: 50px;
		}

		&__text{
			margin:.5em 0em; 
		}
	}
}

@include adaptive-m{
	.advantages-block{
		font-size: 12px;
		
		&__item-wrap{

			padding:.5em 2em !important; 
		}		
	}
}

@include adaptive-768{
	.advantages-block{
		&__item-wrap{
			padding:.5em .5em !important; 
		}
	
	}
}

@include adaptive-480{
	.advantages-block{
		&__item{
			min-height: 280px;
		}
	
	}
}