.learn{
	font-size: $ff;

	position: relative;
	width: 100%;
	height: 100%;

	z-index: -5;

	transition: all .3s ease-in-out;

	opacity: 0;

	left:0;
	top:0;

	&.active{
		opacity: 1;
		z-index: 100;
	}	

	background-color: rgba(#111, .98);


	&__close{
		color:#fff;
		font-size: 1.2em;
		font-family: $font-light;

		margin: 1.5em 2.5em;

		&:hover, &:focus{
			text-decoration: none;
			color:#fff;
		};
	}

	&__row{

	}

	&__content{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	&__title{
		margin:.5em 0em;
		color:#fff;
		text-transform: uppercase;
		font-size: 2.5em;
		font-family: $font-ebold;

		span{
			color: $blue;
		} 

	}

	&__title-wrap{
		text-align: center;
		margin-top: 4em; 
	}

	&__text{
		color:#fff;
		font-family: $font-light;
		background-size: 1.1em;
		text-align: center;
	}

	&__text-wrap{
		padding:2em 0em; 
	}

	//--------------Aplha block------------------
	&__alpha-wrap{
		padding:2em 4em !important; 

		display: grid !important;
		grid-gap:1em;
		grid-template: auto /1fr 1fr 1fr 1fr ; 
	}

	&__alpha-item{
		background-color: #616161;
		color:#8e8e8e;

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		font-size: 2.5em;
		font-family: $font-bold;

		padding:1em 0em;

		cursor: pointer;
		transition: all .3s ease-in-out;

		user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

		&:hover{
			transform: scale(1.05)
		};
	}


	&__result{
		
	}

	&__result-item{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		padding:2em 3em; 
	}

	&__result-image{
		height: 450px;
		width: auto;

		max-width: 100%;
	}

	&__result-text{
		margin:2em 0em; 
		font-size: 1.3em;
		color:#fff;
		font-family: $font-bold;

		span#learn-word{
			color:$blue;
			text-transform: uppercase;
		}
	}

	


}

@include adaptive-xl{
	.learn{
		font-size: 14px;
	
	}
}

@include adaptive-m{
	.learn{
		font-size: 12px;
	
	}
}

@include adaptive-768{
	.learn{
		&__text{
			font-size: 1.2em;
		}

		&__alpha-wrap{
			padding:1em 2em !important; 

			display: grid !important;
			grid-gap:1em;
			grid-template: auto /1fr 1fr 1fr 1fr 1fr ; 
		}		
	}
}

@include adaptive-480{
	.learn{

		&__alpha-item{
			padding:.5em 0em;
			font-size: 1.8em; 
		}

		&__title{
			margin: .2em 0em;
			font-size: 1.8em;
		}

		&__result-image{
			height: 160px;
		}

		&__text-wrap{
			padding:.5em 0em; 
		}

		&__result-text{
			text-align: center;
			margin: .5em 0em;
		}

		&__title-wrap{
			margin-top: 0em;
		}
	
	}
}