.lessons-block{
	font-size: $ff;
	position: relative;

	min-height: 100vh;
	overflow: hidden;

	&__video{
		position: absolute;
		left:0;
		top:0;

		width: 100%;
		height: 100%;
	}

	&__title-wrap{
		z-index: 99;
		position: relative;
		padding:4em 0em; 
	}

	&__title{
		text-align: center;
		font-size: 2.5em;
		color:#fff;
		font-family: $font-bold;

		span{
			color:$blue;
		}
	}

	&__item-wrap{
		padding:2em 6em !important; 

		&:hover,&:focus{
			text-decoration: none;
		};
	}

	&__item{
		overflow: hidden;
		position: relative;
		z-index: 99;

		&-header{
			background-color: $aqua;
			color:#fff;

			text-align: center;

			padding:1em 2em;  

			min-height: 150px;
		}

		&-title{
			font-size: 1.1em;
			margin: .2em 0em;
			font-family: $font-bold;
		}

		&-hr{
			background-color: #fff;
			height: 2px;
			border: none;
			width: 55%;

			margin: .5em auto;

		}

		&-date{
			font-size: 1.1em;
			margin: .2em 0em;
			font-family: $font-light;
		}

		&-content{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			min-height: 250px;
			width: 100%;

			position: relative;
		}
		
		transition: all .3s ease;
		cursor: pointer;

		&:hover{
			transform: scale(1.05);

			.lessons-block__overlay{
				background: rgba($aqua, .5);
				height: 100%;

				img{
					display: block;
				}
			}
		};
	}

	&__overlay{
		width: 100%;
		height: 100px;

		position: absolute;
		top:0px;
		
		transition: all .3s ease-in-out;

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

        // background:linear-gradient(to bottom left,#00e7ef 50%,transparent 50%);
		
		img{
			height: 105px;
			width: auto;

			display: none;
		}

	}


}

@include adaptive-xl{
	.lessons-block{
		font-size: 14px;

		&__item{
			min-height: 150px;
		}
	
	}
}

@include adaptive-m{
	.lessons-block{
		font-size: 12px;
		min-height:100vh;

		&__item-wrap{
			padding: 1em 2em !important
		}

		&__item-header{
			min-height: 120px;
		}
	
	}
}

@include adaptive-768{
	.lessons-block{
		&__video{
			display: none;
		}

		background-image: url('/gif/gif_2.gif');
		height: 95vh;
		background-position: center;
		background-size: cover;			
	
	}
}

@include adaptive-480{
	.lessons-block{

		&__title{
			font-size: 1.8em;
			margin-bottom: .2em;
		}

		&__item-header{
			min-height: 60px;
		}

		&__item-content{
			min-height: 120px;
		}
	
	}
}