.main-content{
	font-size: $ff;
	z-index: 100;
	position: relative;

	padding:1em 0em 20em 0em;
	overflow: hidden; 

	&__row{

	}

	&__content{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	&__title{
		margin: .2em 0em;
		color:#fff;
		font-family: $font-bold;
		width: 55%;
		text-align: center;
		font-size: 2.5em;

		span{
			color: $blue;
		}
	}

	&__text{
		width: 50%;
		font-size: .9em;
		margin: .2em 0em;
		color:#fff;
		font-family: $font-light;
		text-align: center;
	}


}

@include adaptive-xl{
	.main-content{
		font-size: 14px;
	
	}
}

@include adaptive-m{
	.main-content{
		font-size: 12px;

		&__title{
			font-size: 2em;
		}
	
	}
}

@include adaptive-768{
	.main-content{

		&__title{
			width: 75%;
			font-size: 2.5em;
		}

		&__text{
			width: 95%;
		}
	
	}
}

@include adaptive-480{
	.main-content{
		padding-bottom: 5em;

		&__title{
			font-size: 1.8em;
			width: 95%;
		}
	
	}
}

@include adaptive-360{
	.main-content{
		padding-bottom: 1em;
	
	}
}

@include adaptive-xs{
	.main-content{
		padding-bottom: 2em;
	
	}
}