@import '../helpers/breakpoints';
@import '../_variables.scss';

.overlay{
	width: 100%;
	height: 100%;

	position: absolute;
	left:0;
	top:0;

	// background-color: rgba(#222, .5);
	background-image: url('/img/overlay.png');
	background-repeat: repeat;

	z-index: 99;
}