@import '../helpers/breakpoints';
@import '../_variables.scss';

.research{
	font-size: $ff;

	position: relative;
	width: 100%;
	height: 100%;

	z-index: -5;

	transition: all .3s ease-in-out;

	opacity: 0;

	left:0;
	top:0;

	background-color: rgba(#111, .98);

	&.active{
		opacity: 1;
		z-index: 100;
	}

	&__close{
		color:#fff;
		font-size: 1.2em;
		font-family: $font-light;

		margin: 1.5em 2.5em;

		&:hover, &:focus{
			text-decoration: none;
			color:#fff;
		};
	}

	&__row{

	}

	&__content{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	&__title{
		margin:.5em 0em;
		color:#fff;
		text-transform: uppercase;
		font-size: 2.5em;
		font-family: $font-ebold;

		span{
			color: $blue;
		} 

	}

	&__title-wrap{
		text-align: center;
		margin-top: 4em; 
	}

	&__text{
		color:#fff;
		font-family: $font-light;
		background-size: 1.1em;
	}

	&__text-wrap{
		padding:2em 0em; 
	}


	&__input-block{

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

	}

	&__input{
		height: 255px;
		width: 350px;
		margin: .5em 1.5em;

		border: none;
		background-color: rgba(#ccc, .5);

		padding:1em 2em; 
		color: #fff;
		font-family: $font-bold;

		width: 50%;

		&::placeholder{
			color:#aaa;
		}		
	}

	&__buttons-block{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		padding:.5em 1.5em; 
	}

	&__button{
		min-height: 45px;
		min-width: 150px;
		background-color: $blue;
		padding:.5em 1.5em; 
		border-radius: 5px;

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		color: #fff;
		font-family: $font-bold;

		cursor: pointer;
	}	

	&__table{
		color:#fff;
	}


}


@include adaptive-xl{
	.research{
		font-size: 14px;
	
	}
}

@include adaptive-m{
	.research{
		font-size: 12px;
	
	}
}

@include adaptive-480{
	.research{
		font-size: 10px;

		&__input-block{
			flex-direction:column;
		}

		&__input{
			width: 95%;
			height: 120px;

			&::placeholder{
				font-size: 1.2em;
			};
		}

		.table td, .table th {
		    padding: .25rem;
		    vertical-align: top;
		    border-top: 1px solid #dee2e6;
		}

		&__text{
			margin-bottom: 0.2em;
			font-size: 1.2em;
		}

		&__buttons-block{
			padding:.5em 0em; 
		}

		&__button{
			font-size: 1.2em;
			width: 95%;
		}
	
	}
}

@include adaptive-360{
	.research{

		&__title-wrap{
			margin-top: 0em;
		}

		&__title{
			font-size: 1.8em;
		}

		&__text{
			margin-bottom: .5em;
			text-align: center;
		}
	
	}
}