.test{
	font-size: $ff;

	position: relative;
	width: 100%;
	min-height: 100vh;

	z-index: -5;

	transition: all .3s ease-in-out;

	opacity: 0;

	left:0;
	top:0;

	background-color: rgba(#111, .98);

	&.active{
		opacity: 1;
		z-index: 100;
	}

	&__close{
		color:#fff;
		font-size: 1.2em;
		font-family: $font-light;

		margin: 1.5em 2.5em;

		&:hover, &:focus{
			text-decoration: none;
			color:#fff;
		};
	}

	&__row{

	}

	&__icon-wrap{
		width: 100%;

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		margin: 1em 0em;
	}

	&__icon{
		height: 240px;
		width: auto;

		margin: 0 auto;
	}

	&__content{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	&__title{
		margin:.5em 0em;
		color:#fff;
		text-transform: uppercase;
		font-size: 2.5em;
		font-family: $font-ebold;

		span{
			color: $blue;
		} 

	}

	&__title-wrap{
		text-align: center;
		margin-top: 4em; 
	}

	&__text{
		color:#fff;
		font-family: $font-light;
		font-size: 1.5em;
		width: 75%;
		text-align: center;
		margin: .5em auto;
	}

	&__text-wrap{
		padding:2em 0em; 
	}
	
	.question-title{
		margin: 1em auto 0em auto;
		text-align: center;
		color:$blue !important;
		font-family: $font-bold;
		font-size: 2.5em;
	}

	&__question{
		color:#fff;
		font-family: $font-bold;
		font-size: 1.8em;
		margin-bottom: .5em;		
	}

	&__input-block{

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

	}

	&__input{
		height: 255px;
		width: 350px;
		margin: .5em 1.5em;

		border: none;
		background-color: rgba(#ccc, .5);

		padding:0em 2em; 
		color: #fff;
		font-family: $font-bold;

		width: 50%;

		&::placeholder{
			color:#aaa;
		}		
	}

	&__buttons-block{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		padding:.5em 1.5em; 
	}

	&__button{
		min-height: 45px;
		min-width: 150px;
		background-color: $blue;
		padding:.5em 1.5em; 

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		color: #fff;
		font-family: $font-bold;

		cursor: pointer;
	}	

	&__result{
		text-align: center;
		margin: 4em 0em;

		z-index: -99;
		opacity: 0;

		transition: all .3s ease-in-out;

		&.active{
			opacity: 1;
		}


		&-title{
			color:#fff;
			font-size: 1.5em;
			font-family: $font-light;
		}

		&-text{
			font-size: 3em;
			color:#fff;
			font-family: $font-ebold;
			span{
				color:$blue;
			}
		}

		&-advice{
			color:#fff;
			font-size: 1.5em;
			font-family: $font-light;
		}
	}


}

@include adaptive-xl{
	.test{
		font-size: 14px;

		&__title-wrap{
			margin-top: 1em;
		}

		&__title{
			font-size: 1.8em;
		}

		&__icon{
			height: 180px;
		}

		&__text{
			font-size: 1.2em;
		}

		.question-title{
			font-size: 1.8em;
		}

		&__question{
			font-size: 1.5em;
		}
	
	}
}

@include adaptive-m{
	.test{
		font-size: 12px;
	
	}
}

@include adaptive-480{
	.test{
		font-size: 13px;

		&__icon{
			height: 90px;
		}

		&__text{
			width: 95%;
		}

		&__title{
			font-size: 1.5em;
		}


		&__title-wrap{
			margin-top: 0em;
		}

		&__icon-wrap{
			margin: 0em;
		}

		.question-title{
			margin-top: .5em;
		}
	
	}
}