@import '../helpers/breakpoints';
@import '../_variables.scss';

.video-block{
	font-size: $ff;
	padding:0px !important;
	overflow: hidden;

	position: absolute;

	&__video{
		width: 100%;
		height: 95vh;
		object-fit: cover; 		
	}
	
}

@include adaptive-768{
	.video-block{
		background-image: url('/gif/gif_1.gif');
		height: 95vh;
		background-position: center;
		background-size: cover;		

		&__video{
			display: none;
		}
	
	}
}