@import '../helpers/breakpoints';
@import '../_variables.scss';

.button{
	font-size: $ff;

	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;

	&:hover,&:focus{
		text-decoration: none;
		color:#fff;
	};

	&__icon{
		height: 15px;
		width: auto;

		margin: 0em .2em ;
	}

	&__text{
		color: #fff;

		margin: 0em .2em ;
		font-family: $font-light;
	}
}