.name-input{
	font-size: $ff;

	padding:2em 0em;

	display: flex;
	 flex-direction:row;
	 align-items:center;
	 justify-content:center; 

	&__input{
		height: 65px;
		width: 450px;
		font-size: 1.2em;

		border: none;
		background-color: rgba(#ccc, .5);
		border-bottom-left-radius:5px; 
		border-top-left-radius: 5px;

		padding:0em 2em; 
		color: #fff;
		font-family: $font-bold;

		&::placeholder{
			color:#aaa;
		}


	}

	&__button{
		height: 65px;
		width: 150px;
		font-size: 1.2em;

		background-color: $blue;
		border-bottom-right-radius:5px; 
		border-top-right-radius: 5px;

		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;

		color: #fff;
		font-family: $font-bold;

		cursor: pointer;
	}

	&__social{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		img{
			height: 25px;
			width: auto;

			margin: 0em 1em;
			cursor: pointer;

		}
	}

}

@include adaptive-m{
	.name-input{
		font-size: 12px;
	
	}
}

@include adaptive-768{
	.name-input{
		font-size: 12px;

		&__social{

			img{
				height: 35px;
			}
		}
	
	}
}

@include adaptive-480{
	.name-input{
		width: 85%;
		margin: 0 auto;
	
	}
}

@include adaptive-360{
	.name-input{
		width: 90%;


		&__input{
			width: 65%;
		}

		&__button{
			width: 35%;
		}
	
	}
}