.header{
	font-size: $ff;

	background-color: rgba(34,34,34,.8);

	padding: .5em 1em; 

	&__row{

	}

	&__content{
		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-between;
	}

	&__menu{
		height: 15px;
		width: auto;

		margin: 0em 1.5em;
		cursor: pointer;

		position: relative;
	}


}

@include adaptive-480{
	.header{
		min-height: 66px;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:space-betweeen;

		position: relative;

		&__start{
			width:100%;
		}

		&__logo{
			
		}
	
	}
}