.menu{
	font-size: $ff;
	background-color: #222;

	position: fixed;
	left: -300px;
	top:0;

	width: 280px;
	height: 100vh;

	padding:1em 0 1.5em 0; 

	z-index: 101;

	transition: all .3s ease-in-out;

	&.active{
		left:.8em;
	}

	&__container{
		display: flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	&__close{
		height: 15px;
		width: auto;

		margin: 0em 1.5em;
		cursor: pointer;

		position: relative;		
	}

	&__item{
		font-family: $font-light;
		color:#fff;
		width: 100%;

		transition: all .3s ease-in-out;
		cursor: pointer;

		padding:.5em 1.5em; 

		&:hover, &:focus{
			color:#fff;
			text-decoration: none;

			background-color: $blue;
		};
	}

	&__item-text{
		margin: .5em 0em;
		text-align: left;

		font-family: $font-bold;
		font-size: 1em;
		color:#fff;

	}

	&__logo{
		height: auto;
		width: 75%;

		margin: 1.5em auto;
	}
}

@include adaptive-xl{
	.menu{
		font-size: 14px;
	
	}
}

@include adaptive-m{
	.menu{
		font-size: 12px;
		width: 220px;
	
	}
}

@include adaptive-768{
	.menu{
		padding-top: 2em;

		&__item{
			padding:.5em 1em; 
		}

	}
}

@include adaptive-480{
	.menu{
		width: 280px;
	
	}
}